/* body{
    overflow: hidden;
} */

.app_container {
    top: 0;
    left: 0;
    margin: 0 0 0 0;
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    border: 5px grey solid;
    height: 100%;
    width: 100%;
}

.hallpass_title {
    border: 4px red solid;
    text-align: center;
    font-size: 80px;
}
.title_scene {
    /* display: none; */
    border: 5px rgb(214, 146, 63) solid;
    text-align: center;
    /* top: 0;
    left: 0;
    margin: 0 0 0 0;
    box-sizing: border-box;
    position: absolute; */
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.play {
    border: 5px red solid;
    width: 400px;
    height: 120px;
    font-size: 50px;
    margin-top: 20vh;
}

.game_scene {
    display: none;
    position:relative;
    border: 5px rgb(32, 221, 111) solid;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}

.game_status {
    border: 5px rgb(255, 130, 13) solid;
    height: 120px;
    width: 285px;
}
.game_scene .asteroid {
    border: 5px goldenrod solid;
    height: 120px;
    width: 120px;
    position: absolute;
    top: 100px;
    right: 100px;
}

.target {
    position: absolute;
    border: 5px royalblue dotted;
    height: 120px;
    width: 120px;
    top: 0px;
    left: 200px;


}